* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

body {
    background: #fff;

}

.header {
    height: 100px;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #ddd;
}

.nav-box {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    height: 40px;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
    color: #333;
}

.nav-box .nav {
    display: flex;
    font-size: 23px;
    color: #555;
}

.nav-box .nav li {
    padding-left: 50px;

}

.nav-box .nav a.on,
.nav-box .nav a:hover {
    color: #000;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.banner {
    width: 100%;
    margin: 0 auto;
    background: url(../img/rose.JPG) no-repeat center center;
    height: 400px;
    text-align: center;
    line-height: 400px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 5);
}


.bannerone {
    width: 100%;
    margin: 0 auto;
    background: url(../img/two.JPG) no-repeat center center;
    height: 400px;
    text-align: center;
    line-height: 400px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 5);
}

.bannertwo {
    width: 100%;
    margin: 0 auto;
    background: url(../img/five.JPG) no-repeat center center;
    height: 400px;
    text-align: center;
    line-height: 400px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 5);
}

.introduce {
    width: 900px;
    margin: 0 auto;
    padding: 40px 0;
}

.introduce-tit {
    line-height: 60px;
    font-size: 30px;
    font-weight: 550;
    padding-bottom: 30px;
    padding-top: 60px;
    color: #555;
    background: #fff;
}

.introduce-main {
    display: flex;
}

.introduce-main .l {
    margin-right: 115px;
}

.introduce .l img {
    border-radius: 30%;
}

.introduce-main .r {
    line-height: 57px;
    font-size: 22px;
    color: #555;
}

.edu-box {
    display: flex;
    width: 100%;
}

.work {
    display: flex;
    margin-bottom: 30px;
}

.r {
    margin-left: 70px;
    line-height: 45px;
}

.r .tit {
    padding-bottom: 15px;
    font-size: 22px;
    color: #333;
    font-weight: 700;
}

.r .small {
    font-size: 18px;
    color: #666;
}

.r .time {
    width: 160px;
    height: 40px;
    line-height: 40px;
    background: #333;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    display: flex;
}

.r .time .icon {
    width: 40px;
    height: 40px;
    background: url(../img/date.jpg) no-repeat center center;
    background-size: 18px;
}

.r .time .dog {
    width: 50px;
    height: 40px;
    background: url(../img/dog.jpg) no-repeat center center;
    background-size: 40px;
}

.skill {
    width: 100%;
    margin-bottom: 50px;

}

.skill .tit {
    font-size: 20px;
    line-height: 20px;
    font-weight: 650;
    margin-bottom: 25px;
    color: #333;
    display: flex;
    justify-content: space-between;

}

.progress {
    width: 100%;
    height: 9px;
    border-radius: 7px;
    background: #ddd;
    position: relative;
    overflow: hidden;

}

.progress-in {
    position: absolute;
    height: 9px;
    left: 0;
    top: 0;
    background: rgb(253, 167, 219);

}

.foot-box {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 13px;
    color: #ddd;
    background-color: #555;
}

.introduce .l img.code {
    border-radius: 0;
}

.main-box {
    width: 1000px;
    margin: 60px auto;
}

.flex-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}